.profile {
    background-image: url(../images/tribunepodium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 250px;
  
}


.stats {
   background-color: transparent;
   color: #000000;
}
