.chmeme_card {
    width: 100%;
}
.chmeme_card img {
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.ChallengeReactions_btns {
    padding: 0.5em 3em;
    text-align: center;
    border-radius: 0px;
    background-color: rgb(9, 56, 102);
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 320px;
}
.chreactions {
    color: rgb(242, 241, 245);
    margin-left: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.chreactions:hover {
    color: tomato;
}
