.meme_card {
    width: 45%;
}
.Mbreactions_btns {
    padding: 0.5em 3em;
    text-align: center;
    border-radius: 0px;
    background-color: rgb(9, 56, 102);
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.reactions {
    color: rgb(242, 241, 245);
    margin-left: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.reactions:hover {
    color: tomato;
}
