.media_details {
    display: flex;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
}
.media_details .detail {
    padding: 0.5em 1em;
    text-align: center;
    background-color: #999999;
    color: #ffffff;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 12px;
}
.media_title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 385px;
}
.media_title .MuiTypography-root {
    max-width: 200px;
}
.media_synopsis {
    display: flex;
    background-color: #ffffff;
    color: #140202;
    justify-content: center;
    align-items: center;
    width: 385px;
    font-size: 10px;
    border-radius: 5px; 
    
}
.media_sources {
    font-size: 5px;
    width: 385px;
}