.memebate {
    margin-top: 20px;
}
.subject {
margin-top: 20px;
}
.title {
    margin-top: 80px;
}
.btn {
margin-top: 10px;
padding: 10px;
width: 120px;
font-size: 1.1em;
font-style: normal;
border-radius: 100px;
background-color: skyblue;
}